.root {
    padding: 20px;
}

.campus-input-group {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.input-field {
    margin-bottom: 15px;
}

.save-button {
    display:flex;
    justify-content: flex-end;
}

.campus-edit-heading {
    text-align: center;
}
.student-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:5px;
}

.add-student-button {
    margin-left: 10px;
    margin-right: 10px;
}

.student-row {
    margin: 10px 0px;
}